[Unit]
Description=Discord bot
Documentation=

Wants=network.target
After=network.target

[Service]
Nice=5
KillMode=none
SuccessExitStatus=0 1

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true

InaccessibleDirectories=/root /sys /srv -/opt /media -/lost+found /Serveurs
ReadWriteDirectories=/DiscordBot
WorkingDirectory=/DiscordBot

ExecStart=/bin/bash /DiscordBot/update.sh
ExecStop=/bin/bash /DiscordBot/stop.sh

[Install]
WantedBy=multi-user.target