[Unit]
Description=Minecraft OPPrison Server
Documentation=

Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
Nice=5
KillMode=control-group
SuccessExitStatus=0 1

Type=forking

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true

InaccessibleDirectories=/root /sys /srv -/opt /media -/lost+found /DiscordBot
ReadWriteDirectories=/Serveurs
WorkingDirectory=/Serveurs

ExecStart=/bin/bash /Serveurs/OPPrison/start.sh
ExecStop=/bin/bash /Serveurs/OPPrison/stop.sh

[Install]
WantedBy=multi-user.target